[Unit]
Description=Temperature sensor loop
After=syslog.target network-online.target

[Service]
SyslogIdentifier=tempsensloop
User=admin
ExecStart=/usr/bin/python /home/admin/greenhouseControl/mqttTempSensorLoop.py
StandardOutput=syslog
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target