[Unit]
Description=Temperature control
After=syslog.target network-online.target

[Service]
SyslogIdentifier=growsrv
User=admin
ExecStart=/usr/bin/python /home/admin/greenhouseControl/mqttTempControlSystem.py
StandardOutput=syslog
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target